# 1110 : 정수 그대로 출력하기

입력받은 정수를 그대로 출력한다.

In [1]:
n = int(input())
print(n)

5
5

# 1111 : %출력

어떤 정수가 입력되면 %를 붙여 출력하시오.

In [2]:
n = int(input())

print(f"{n}%")

35
35%

# 1112 : 두 정수 출력

입력 받은 두 정수를 출력한다.

In [8]:
a,b = map(int,input().split())
print(a,b)

3 5
3 5

# 1113 : 바꿔서 출력하기

두 정수를 입력받아 순서를 바꿔서 출력하시오.

In [10]:
a,b = map(int,input().split())
print(b,a)

1 2
2 1

# 1114 : 두 정수의 덧셈

두 정수를 입력받아 합을 출력한다.

In [11]:
a,b = map(int,input().split())
print(a+b)

5 7
12

# 1115 : 두 정수의 덧셈 (64비트)

두 정수의 덧셈의 결과를 출력한다.

두 수는 int 범위를 넘어선 64비트 정수형 값이다.

In [14]:
a,b = map(int,input().split())
print(a+b)

11111111111 22222222222
33333333333

# 1116 : 사칙연산 계산기

두 정수를 입력받아 아래와 같이 출력하시오.

예)  3 2

3+2=5
3-2=1
3*2=6
3/2=1

In [16]:
a,b = map(int,input().split())
print(f"{a}+{b}={a+b}")
print(f"{a}-{b}={a-b}")
print(f"{a}*{b}={a*b}")
print(f"{a}/{b}={a//b}")

3 2
3+2=5
3-2=1
3*2=6
3/2=1

# 1117 : 두 실수의 곱

두 실수를 입력받아 두 실수의 곱을 출력하되 소수 둘째자리까지 출력하시오.

In [26]:
a,b = map(float,input().split())
si = a*b
o_si = round(si,2)
print(o_si)

1.23 4.56
5.61

# 1118 : 삼각형의 넓이 구하기

삼각형의 넓이를 구하는 프로그램을 작성한다.

삼각형의 넓이 = 밑변 * 높이 / 2

In [29]:
a,b = map(int,input().split())
sam = a*b/2
print(sam)

5 2
5.0

# 1119 : 일을 시간으로 변환

하루는 24시간이다.

일(day)이 입력으로 주어지면 시간으로 변환하시오.

In [30]:
a = int(input())

print(24*a)

2
48

# 1120 : 세 수의 평균

세 정수가 입력되면 평균을 출력하시오.

In [35]:
a,b,c = map(int,input().split())
ss = (a+b+c)/3
ooo = f'{ss:.2f}'
print(ooo)

1 2 3
2.00