## 30915_전종현_0819_1

# 데이터 프레임의 세계로!

## 데이터 프레임 만들기 - 시험 성적 데이터를 만들어보자!
### 데이터 입력해 데이터 프레임 만들기

In [1]:
# pandas 패키지를 로드하기
import pandas as pd

In [3]:
# data frame 만들기
df = pd.DataFrame({"name":["김지훈","이유진","박동현","김민지"],
                  'english':[90,80,60,70],
                  'math':[50,60,100,20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [6]:
# 특정 변수의 값을 추출하기
# 영어 점수만 출력

df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [7]:
# 수학 점수만 출력

df['math']

0     50
1     60
2    100
3     20
Name: math, dtype: int64

In [9]:
# 변수의 값으로 합계 구하기
# sum

sum(df['english'])

300

In [11]:
# 수학합계
sum(df['math'])

230

In [12]:
# 영어 점수 평균     sum(df['english'])/4

df['english'].mean()

75.0

In [14]:
# 수학 점수 평균     sum(df['math'])/4

df['math'].mean()

57.5

## 외부 데이터 이용하기 - 축전된 시험 성적 데이터를 불러오자!
### 엑셀 파일 불러오기
#### 1. 엑셀 파일 살펴보기
#### 2. 워킹 디렉터리에 엑셀 파일 삽입하기
#### 3. 엑셀 파일 불러오기

In [17]:
# 외부파일 불러오는 메소드 read_excel("디렉터리/파일명")
# 변수에 할당
df1 = pd.read_excel("excel_exam.xlsx")
df1

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [22]:
# 문제 영어 점수 합계를 구하시오.
# 문제 영어 점수 평균을 구하시오.
print("영어 점수 합계 : ",sum(df1['english']))
print("영어 점수 평균 : ",df1['english'].mean())

영어 점수 합계 :  1698
영어 점수 평균 :  84.9

In [23]:
# 문제 수학 점수 합계를 구하시오.
# 문제 수학 점수 평균을 구하시오.
print("수학 점수 합계 : ",sum(df1['math']))
print("수학 점수 평균 : ",df1['math'].mean())

수학 점수 합계 :  1149
수학 점수 평균 :  57.45

In [39]:
# 문제 과학 점수 합계를 구하시오.
# 문제 과학 점수 평균을 구하시오.
print("과학 점수 합계 : ",sum(df1['science']))
print("과학 점수 평균 : ",df1['science'].mean())

과학 점수 합계 :  1189
과학 점수 평균 :  59.45

## 30915_전종현_0819_2

In [33]:
df2 = pd.DataFrame({"fruit":["사과","딸기","수박"],
             "price":[1800,1500,3000],
             "volume":[24,38,13]})
df2

  fruit  price  volume
0    사과   1800      24
1    딸기   1500      38
2    수박   3000      13

In [35]:
#가격의 평균
# 판매량의 평균 출력하기

print("가격의 평균 : ",df2['price'].mean())
print("판매량의 평균 : ",df2['volume'].mean())

가격의 평균 :  2100.0
판매량의 평균 :  25.0

In [38]:
print(df2['price'].count())
print(len(df2))

3
3

In [40]:
df3 = pd.read_excel("excel_exam_novar.xlsx", header = None)
df3

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12

## 엑셀 파일에 시트가 여러 개 있다면?

### Sheet2 시트의 데이터 불러오기
df_exam = pd.read_excel("excel_exam.xlsx",sheet_name="sheet2")

### 세 번째 시트의 데이터 불러오기
df_exam = pd.read_excel("excel_exam.xlsx",sheet_name=2)