# 1168 : 나이 계산 1
주민등록번호는 생년월일과 성별정보, 지역정보로 이루어진다.

여기서 생년월일과 성별정보만 입력으로 받겠다.

성별 정보는 1이면 1900년대 출생 남자, 2이면 1900년대 출생 여자, 3이면 2000년대 출생 남자, 4이면 2000년대 출생 여자를 말한다.

기준년도는 2012년도이다. 현재 나이를 출력하시오. 

예)

790101 1        =====> 성별정보가 1이므로, 1979년생, 34살이다.

080521 4        =====>  성별정보가 4이므로, 2008년생,  5살이다.

In [19]:
x = input("")

if x[7] == '1'or x[7] == '2' :
    y = int(x[0:2])+1900
    age = 2012-y+1
    print(age)
elif x[7] == '3'or x[7] == '4':
    y = int(x[0:2])+2000
    age = 2012-y+1
    print(age)

080101 3
5

# 1169 : 나이 계산 2
어느 날 한솔이는 혜인이에게 자기가 18살이니 몇 년도에 태어 났는지 맞춰 보라고 했다.

혜인이는 초능력(?)을 발휘해서 한솔이가 몇 년 생인지 한 번에 맞추었다.

한솔이는 깜짝 놀라 셔플 댄스를 추면서 그 자리에서 쓰러지고 말았다.

보다시피 혜인이는 사람의 나이를 알면 출생년도를 마추는 신기한(?) 재주를 가지고 있다.

나이가 주어지면 몇 년도에 태어났는지를 출력하시오. (나이는 2012년도 기준입니다.)

단, 출력할 때 년도 4자리 중 뒤의 두자리만 출력하고, 한 칸 띄운 후 1900년도 출생이면 1을 출력, 2000년대 출생이면 3을 출력하시오.

예) 18살이면 1995년생이므로 95 1을 출력한다.

In [33]:
age = int(input())
rage = 2012-age+1
rage = str(rage)
if rage[0] == '1':
    y2 = rage[2:4]
    k = 1
if rage[0] == '2':
    y2 = rage[2:4]
    k = 3
    
print(int(y2), k)

9
4 3

# 1170 : 당신의 학번은? 1
학번을 입력 받아 다음 형식으로 출력하시오.

학번은 학년, 반, 번호로 입력된다.

예)

2 3 27   =====>    2327로 출력

2 3 7   ======> 2307로 출력   (번호가 10번미만이면 0을 붙여 출력)

In [40]:
a,b,c = map(int,input().split())

3 1 2
('0', 2)