## 30915_전종현_0516_7

# 이차원 리스트

In [3]:
abc = [[1,2,3],[4,5,6],[7,8,9]]
print(abc)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
for i in abc:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [7]:
print(abc[0][0])

1

In [8]:
print(abc[1][2])

6

In [11]:
for i in abc:
    print(i[0],end=' ')

1 4 7

In [12]:
for i in abc:
    print(i[2],end=' ')

3 6 9

#### 이차원 리스트로 간단한 프로그램 만들기

In [13]:
card = [['2020.03.04 18:56','주식회사 카카오페이',1000],
       ['2020.03.03 14:54','네이버페이',51100],
       ['2020.03.02 12:13','스타벅스코리아',10000],
       ['2020.03.01 15:49','11번가',27500],
       ['2020.02.26 11:40','주식회사 카카오페이',32500],
       ['2020.02.26 11:38','주식회사 카카오페이',32500],
       ['2020.02.22 15:00','G마켓',81500],
       ['2020.02.22 15:15','네이버페이',131000]]

In [23]:
print(card[0][1])
print(card[3][1])

주식회사 카카오페이
11번가

In [24]:
olympic = [[1,'미국',46,37,38,121],
          [2,'영국',27,23,17,67],
          [3,'중국',26,18,26,70],
          [4,'러시아',19,18,19,56],
          [5,'독일',17,10,15,42],
          [6,'일본',12,8,21,41],
          [7,'프랑스',10,18,14,42],
          [8,'대한민국',9,3,9,21]]

In [33]:
print(f'{olympic[0][1]} 금매달 개수 : {olympic[0][2]}')
print(f'{olympic[4][1]} 금매달 개수 : {olympic[4][2]}')

미국 금매달 개수 : 46
독일 금매달 개수 : 17

In [34]:
for i in olympic:
    print(i[:2])

[1, '미국']
[2, '영국']
[3, '중국']
[4, '러시아']
[5, '독일']
[6, '일본']
[7, '프랑스']
[8, '대한민국']

In [47]:
print("금매달보다 은매달이 더 많은 나라")
for i in olympic :
    if i[2] < i[3]:
        print(i[1])

금매달보다 은매달이 더 많은 나라
프랑스