# 30915_전종현_0327_4

In [2]:
# 학생 5명의 시험 점수를 입력받아 합계와 평균을 출력하기

print("학생그룹 점수의 합계와 평균을 구합니다.")
s1 = int(input("1번 학생의 점수를 입력하세요 : "))
s2 = int(input("2번 학생의 점수를 입력하세요 : "))
s3 = int(input("3번 학생의 점수를 입력하세요 : "))
s4 = int(input("4번 학생의 점수를 입력하세요 : "))
s5 = int(input("5번 학생의 점수를 입력하세요 : "))

sum = s1+s2+s3+s4+s5
avg = sum/5

print(f"합계는 {sum}점입니다.")
print(f"평균은 {avg}점 입니다.")

학생그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요 : 32
2번 학생의 점수를 입력하세요 : 4
3번 학생의 점수를 입력하세요 : 16
4번 학생의 점수를 입력하세요 : 10
5번 학생의 점수를 입력하세요 : 7
합계는 69점입니다.
평균은 13.8점 입니다.

- 배열 : 묶음 단위로 값을 저장하는 자료구조
  - 원소 : 배열의 저장된 객체
  - 각 원소는 0,1,-----순서대로 인덱스(주소)를 부여받음
  - 원소의 자료형은 int형 float형 어떤것도 상관없음
  - 서로 다른 자료형을 같이 저장할 수 있음
  - 배열 원소 자체를 배열에 저장할 수 있음

In [4]:
list01 = []
a = [1,2,3,4,5]
b = ['A','B','C']

print(a)
print(b)

[1, 2, 3, 4, 5]
['A', 'B', 'C']

- 튜플
  - 원소에 순서를 매겨 결합한 것으로 원소를 변경할 수 없는 자료형
  - ()만 사용하면 빈 튜플 생성

In [5]:
tuple01 = ()
tuple02 = 1,2,3
tuple03 = 'A',"B","C"

print(tuple01)
print(tuple02)

print(tuple03)

()
(1, 2, 3)
('A', 'B', 'C')

In [6]:
a = tuple(range(7))
print(a)

(0, 1, 2, 3, 4, 5, 6)

In [7]:
a = tuple(range(3,12,2))
print(a)

(3, 5, 7, 9, 11)