## 1165 : 축구의 신 1
지금 1반과 2반이 축구를 하고있다.

축구경기 타임은 총 90분이고,

현재 1반이 0점, 2반이 2점인 상황에서, 1반은 경남정보고 최고의 스트라이커인 성익이를 투입하기로 결정했다.

성익이는 5분마다 골을 넣을 수 있는 능력을 가지고 있다.

만약 80분에 투입이 되면 80분에 곧바로 골을 넣게되고 85분에 골을 넣음으로서 동점이 가능하게 된다.

(90분이되면 경기가 바로 종료되므로 골을 넣을 수 없다. 동내심판인 성빈이는 성익이가 잘 되는 것을 싫어하기 때문에 추가시간 따위는 주지 않는다. )

현재 경기타임과 우리팀의 득점이 입력으로 주어 질때, 성익이를 투입하면 우리팀의 최종 득점은 몇 점인지 출력하시오.

In [16]:
t,s = map(int,input().split())


for i in range(1,90-t):
    if i%5==0:
        s+=1
        
print(s+1)

74 2
6

## 1166 : 윤년 판별
2월이 29일까지 있는 해를 윤년이라고 한다.

한 자연수를 입력받아서 윤년인지 아닌지를 판단하는 프로그램을 작성하시오.

단, 윤년은 다음 두 조건 중 하나만 만족하면 된다.


(1) 400의 배수이면 무조건 윤년이다.
(2) 4의 배수이며, 100의 배수가 아니면 윤년이다.

 

예)

2000 년 ====> 윤년 (1번 조건) 

2004 년 ====>  윤년(2번 조건)

1900 년 ====> 윤년 아님

1999 년 ====> 윤년 아님

In [22]:
n = int(input())

if n%400 == 0:
    print("Leap")
elif n%4==0 and n%100!=0:
    print("Leap")
else:
    print("Normal")

100
Normal

## 1167 : 두 번째 수
세 개의 숫자가 주어질 때 작은 순서로 나열 했을 때, 두번째 수를 출력해보자.

예를 들어, 5 9 2 가 있다면, 작은 순서로 나열하면 2 5 9이고 두번째 수는 5이다.

In [34]:

a,b,c = map(int,input().split())
lal = [a,b,c]
lal.sort()
print(lal[1])

500 555 15
500

## 1168 : 나이 계산 1
주민등록번호는 생년월일과 성별정보, 지역정보로 이루어진다.

여기서 생년월일과 성별정보만 입력으로 받겠다.

성별 정보는 1이면 1900년대 출생 남자, 2이면 1900년대 출생 여자, 3이면 2000년대 출생 남자, 4이면 2000년대 출생 여자를 말한다.

기준년도는 2012년도이다. 현재 나이를 출력하시오. 

예)

790101 1        =====> 성별정보가 1이므로, 1979년생, 34살이다.

080521 4        =====>  성별정보가 4이므로, 2008년생,  5살이다.